
body{
    background-color: #13b586 !important;
    font-family: Kristen;
    color:#1a3638;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: SourceSans;
}

h1{
    font-size:3.75rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.25rem;
}
    
h4{
    font-size:1.5rem;
}

p{
    font-size: 1.5rem;
    font-weight: 5000;
}

hr{
    border: 10px solid black;
    border-radius: 10px;
    width:95%;
    margin: 0 auto;
}

#artSection img{
    max-width: 30%;
    margin: 1%;
    height: auto;
    border: 15px solid #254b9c;
  
}

#portfolioTitle{
    text-align: center;
}

button{
    color:#254b9c;
    background-color:#40bdea;
    padding:5px;
    font-size: larger;
    border: 5px solid #254b9c;
    border-radius: 5px;
    font-family: SourceSans
}

.unique-variety-picture{ /*Remnant of a unique quirky thing I wanted to do with background images. maybe I can find out how to do what I wanted to do one day*/
    width: 100%;
    height:auto;
    position:relative;
    top: 100px;
}

.email:link{
    color:#254b9c;
}
a:link{
    color:#254b9c; 
}
.email:hover{
    color:#b2e0f5;
}
a:hover{
    color:white;
}
.email:visited{
    color:#254b9c;
}
a:active{
    color:#181f72;
}
a:visited{
    color:#265353;
}
.scroll{
    height: 40em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:#50ba9c;
    border: 10px solid #1a3638;
    border-radius: 15px;
}

.review{
    height: 40em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #b2e0f5;
    border: 10px solid #1a3638;
    border-radius: 15px;
}

.scrollContent{
    margin-left: 3%;
    line-height: 1;
}
#fakeContent{
    margin-top: 30%;
}
.scrollContent p{
    font-size: 1.1em;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #044130; 
    border-radius: 10px;
    background: #60cd9c;
}

::-webkit-scrollbar-thumb {
    background: #254b9c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212774;
}

.resumeImage{
    
    width: 100%;
    min-width: 50px;
    height: auto;
}