
body {
    background-color: #13b586 !important;
    font-family: Kristen;
    color:#1a3638;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: SourceSans;
}

h1{
    font-size:3.75rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.25rem;
}
    
h4{
    font-size:1.5rem;
}

p{
    font-size: 1.5rem;
    font-weight: 5000;
}

hr{
    border: 10px solid black;
    border-radius: 10px;
    width:95%;
    margin: 0 auto;
}

#artSection img{
    max-width: 31%;
    margin: 1%;
    height: auto;
    border: 15px solid #254b9c;
  
}

#portfolioTitle{
    text-align: center;
}

button{
    color:#254b9c;
    background-color:#40bdea;
    padding:5px;
    font-size: larger;
    border: 5px solid #254b9c;
    border-radius: 5px;
    font-family: SourceSans
}

.unique-variety-picture{ /*Remnant of a unique quirky thing I wanted to do with background images. maybe I can find out how to do what I wanted to do one day*/
    width: 100%;
    height:auto;
    position:relative;
    top: 100px;
}